.bigWord{
    text-align: center;
}
.svetofor{
    width: 140px;
    background-color: black;
    padding: 15px;
}
.colorLight{
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    text-align: center;
    margin: 10px auto;
    background-color: gray;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
